migratedESB/src/main/resources/xsd/ShippingLibrary/bpc/samples/shipping/ShippingReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bo="http://bpc/samples/shipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc/samples/shipping">
  <xsd:complexType name="ShippingReport">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="referenceNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="report" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
