migratedESB/src/main/resources/xsd/OrderLibrary/bpc/samples/order/CheckCustomerResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bo="http://bpc/samples/order" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc/samples/order">
  <xsd:complexType name="CheckCustomerResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="creditCardNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="creditCardCompany" type="xsd:string"/>
      <xsd:element minOccurs="0" name="isCustomerOk" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
