original/OrderLibrary/bpc/samples/order/PersonalData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bo="http://bpc/samples/order" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc/samples/order">
  <xsd:complexType name="PersonalData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="orderNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="familyName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="birthday" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
