original/ShippingLibrary/bpc/samples/shipping/ShippingInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
"This sample program is provided AS IS and may be used, executed, copied and modified without royalty payment by customer (a) for its own instruction and study, (b) in order to develop applications designed to run with an IBM WebSphere product, either for customer's own internal use or for redistribution by customer, as part of such an application, in customer's own products."

Product 5655-FLW,  (C) COPYRIGHT International Business Machines Corp., 2005
All Rights Reserved * Licensed Materials - Property of IBM
-->
<wsdl:definitions xmlns:bons1="http://bpc/samples/shipping" xmlns:tns="http://bpc/samples/shipping/ShippingInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShippingInformation" targetNamespace="http://bpc/samples/shipping/ShippingInformation">
  <wsdl:types>
    <xsd:schema targetNamespace="http://bpc/samples/shipping/ShippingInformation" xmlns:bons1="http://bpc/samples/shipping" xmlns:tns="http://bpc/samples/shipping/ShippingInformation" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://bpc/samples/shipping" schemaLocation="../../../xsd-includes/http.bpc.samples.shipping.xsd"/>
      <xsd:element name="acknowledgeShipment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="acknowledgement" nillable="true" type="bons1:ShippingAcknowledgement"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reportShipment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="report" nillable="true" type="bons1:ShippingReport"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="acknowledgeShipmentRequestMsg">
    <wsdl:part element="tns:acknowledgeShipment" name="acknowledgeShipmentParameters"/>
  </wsdl:message>
    <wsdl:message name="reportShipmentRequestMsg">
    <wsdl:part element="tns:reportShipment" name="reportShipmentParameters"/>
  </wsdl:message>
    <wsdl:portType name="ShippingInformation">
    <wsdl:operation name="acknowledgeShipment">
      <wsdl:input message="tns:acknowledgeShipmentRequestMsg" name="acknowledgeShipmentRequest"/>
    </wsdl:operation>
    <wsdl:operation name="reportShipment">
      <wsdl:input message="tns:reportShipmentRequestMsg" name="reportShipmentRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
