original/ShippingLibrary/bpc/samples/shipping/ShippingAcknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bo="http://bpc/samples/shipping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bpc/samples/shipping">
  <xsd:complexType name="ShippingAcknowledgement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="referenceNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
